.slide_in_blurred_bl {
	-webkit-animation: slide_in_blurred_bl 1.3s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: slide_in_blurred_bl 1.3s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

/**
 * ----------------------------------------
 * animation slide_in_blurred_bl
 * ----------------------------------------
 */
 @-webkit-keyframes slide_in_blurred_bl {
  0% {
    -webkit-transform: translate(-1000px, 1000px) skew(-80deg, -10deg);
            transform: translate(-1000px, 1000px) skew(-80deg, -10deg);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0) skew(0deg, 0deg);
            transform: translate(0, 0) skew(0deg, 0deg);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide_in_blurred_bl {
  0% {
    -webkit-transform: translate(-1000px, 1000px) skew(-80deg, -10deg);
            transform: translate(-1000px, 1000px) skew(-80deg, -10deg);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0) skew(0deg, 0deg);
            transform: translate(0, 0) skew(0deg, 0deg);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}