@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background: #B3AFB3;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #B3AFB3;
}

::-webkit-scrollbar-track {
  background: #F0F0F0;
  border-radius: 0px;
  box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}

:root {
  /* generic */
  --gutterSm: 0.8rem;
  --gutterMd: 1rem;
  --gutterLg: 1.2rem;
  --gutterXl: 1.5rem;
  --gutterXx: 1.8rem;
  --colorTrans0: #383D47;
  --colorTrans1: #FDE8D3;
  --colorTrans2: #F5CBA3;
  --colorTrans3: #E2745D;
  --colorTrans4: #DF603C;
  --colorTrans5: #ECB343;
  --colorTrans6: #83492E;
  --colorTrans7: #722022;
  --colorTrans8: #4A2415;
  --colorTrans9: #3E1D13;
  --fontFamily: "Dosis", sans-serif;
  --fontSizeSm: 0.8rem;
  --fontSizeMd: 1rem;
  --fontSizeLg: 1.2rem;
  --fontSizeXl: 1.5rem;
  --fontSizeXx: 1.8rem;

  --fontSizeH1: 1.8vw;
  --marginTopBtmH1: 5vw;
  --paddingXxlH1:6.2vw;
  --paddingCanvas:-40vw;
  

  --fontSizeH2: 1vw;
  --marginTopBtmH2: 5vw;

  --lineHeightSm: 0.8;
  --lineHeightMd: 1;
  --transitionDuration: 300ms;
  --transitionTF: cubic-bezier(0.645, 0.045, 0.355, 1);

  /* floated labels */
  --inputPaddingV: var(--gutterMd);
  --inputPaddingH: var(--gutterLg);
  --inputFontSize: var(--fontSizeMd);
  --inputLineHeight: var(--lineHeightMd);
  --labelScaleFactor: 0.8;
  --labelDefaultPosY: 80%;
  --labelTransformedPosY: calc((var(--labelDefaultPosY)) - (var(--inputPaddingV) * var(--labelScaleFactor)) - (var(--inputFontSize) * var(--inputLineHeight)));
  --inputTransitionDuration: var(--transitionDuration);
  --inputTransitionTF: var(--transitionTF);
}

h1 {
  font-size: calc(1rem + var(--fontSizeH1));
  margin-top: calc(2px + var(--marginTopBtmH1));
  margin-bottom: 50px;
  color: $cc0;
}

h2 {
  font-size: calc(0.8rem + var(--fontSizeH2));
  color: $cc0;
}

h3 {
  font-size: calc(0.5rem + var(--fontSizeH2));
  color: $cc0;
}