$cc0: #383D47;
$cc1: #FDE8D3;
$cc2: #F5CBA3;
$cc3: #E2745D;
$cc4: #DF603C;
$cc5: #ECB343;
$cc6: #83492E;
$cc7: #722022;//buttonss
$cc8: #4A2415;
$cc9: #3E1D13;
$ccw: #FFFFFF;

$radius: 4px;
$shadow: box-shadow(14px 14px 14px rgba(4, 4, 4, 0.25));

$small: 393px;
$medium: 394px;
$large: 443px;
$xlarge: 697px;