.ui_fab {
  width: 56px;
  height: 56px;
  background-color: $cc1;
  border-radius: 50%;
  color: $cc9;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

// MENU
.hamburger-menu {
  position:absolute;
  top:0;
  left:0;
  z-index: 1;

  #menu__toggle {
    opacity: 0;

    &:checked {
      +.menu__btn>span {
        transform: rotate(45deg);

        &::before {
          top: 0;
          transform: rotate(0deg);
        }

        &::after {
          top: 0;
          transform: rotate(90deg);
        }
      }

      ~.menu__box {
        left: 0 !important;
      }
    }
  }

  .menu__btn {
    position: fixed;
    top: 12px;
    left: 12px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    z-index: 2;

    >span {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #6161613b;
      transition-duration: .25s;

      &::before,
      &::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #6161613b;
        transition-duration: .25s;
      }

      &::before {
        content: '';
        top: -8px;
      }

      &::after {
        content: '';
        top: 8px;
      }
    }
  }

  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding-top: 48px;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: .50s;
    z-index: 1;

    .menu__item {
      display: block;
      padding: 8px 24px;
      color: #333;
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      font-weight: 400;
      text-decoration: none;
      transition-duration: .25s;
      cursor: pointer;

      &:hover {
        background-color: #CFD8DC;
      }
    }

    .ui_active_item{
      background-color: #CFD8DC;
    }
    
  }
}

// -> [END MENU]