.lyts {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 96px 1fr 96px;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "grd_top_nav"
        "grd_cont"
        "grd_bottom_nav";
    background-color: $cc1;
    width: 100%;
    height: 100vh;

    .grd_top_nav {
        grid-area: grd_top_nav;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 96px;
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "grd_left_top grd_right_top";
        background-color: $cc1;

        &:hover {
            .grd_left_top {
                &:hover {
                    div {
                        &:nth-child(1n) {
                            margin-right: 8px;

                            .logout_icon {
                                path {
                                    fill: $cc7;
                                }
                            }
                        }

                        &:nth-child(2n) {
                            color: $cc7;
                        }
                    }
                }
            }

        }

        .grd_left_top {
            text-align: left;
            padding: 24px 0 24px 24px;
            grid-area: grd_left_top;
        }

        .grd_right_top {
            text-align: right;
            padding: 24px 24px 24px 0;
            grid-area: grd_right_top;

            div {
                float: right;
            }
        }

        &:hover {
            background-color: $cc2;
        }
    }

    .grd_cont {
        grid-area: grd_cont;

        //LYT INT1
        .int1 {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 200px 1fr;
            grid-auto-columns: 1fr;
            grid-auto-rows: 1fr;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
                "grd_line1"
                "grd_line2";
            height: 100%;
            //display: none;

            .grd_line1 {
                display: flex;
                justify-self: center;
                align-items: center;
                grid-area: grd_line1;

                h1 {
                    padding: 0 1em;
                    text-align: center;
                }
            }

            .grd_line2 {
                text-align: center;
                grid-area: grd_line2;

                .content_video {
                    position: relative;
                    padding-top: 25px;
                    height: 100%;

                    iframe {
                        position: absolute;
                        top: 0;
                        left: calc(100% / 4);
                        width: calc(100% / 2);
                        height: 80%;
                        border-radius: 10px;
                        box-shadow: 0.2rem 0.8rem 1.6rem var(--colorTrans2);
                        border: 4px solid #722022;
                    }
                }
            }
        }

        //[END] LYT INT1

        //LYT INT2
        .int2 {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 200px auto 1fr auto;
            grid-auto-columns: 1fr;
            grid-auto-rows: 1fr;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
                "grd_line1"
                "grd_line2"
                "grd_line3";
            height: 100%;
            //display: none;

            .grd_line1 {
                display: flex;
                justify-self: center;
                align-items: center;
                grid-area: grd_line1;

                h1 {
                    padding: 0 1em;
                    text-align: center;
                }
            }

            .grd_line2 {
                display: flex;
                justify-self: center;
                align-items: center;
                grid-area: grd_line2;

                h2 {
                    padding: 0 1em;
                    text-align: center;
                }
            }

            .grd_line3 {
                display: flex;
                grid-area: grd_line3;

                div {
                    margin: 0 auto;

                    div {
                        float: left;

                        div {
                            clear: both;
                            width: 100%;
                            height: auto;

                            svg {
                                margin: 50px 32px 0;
                                cursor: pointer;
                                box-shadow: 0.2rem 0.8rem 1.6rem var(--colorTrans2);
                                height: 23vw !important;
                                width: 23vw !important;
                                border-radius: 50%;
                                -moz-border-radius: 50%;
                                -webkit-border-radius: 50%;

                                @media screen and (min-width: $xlarge) {
                                    height: 30vw !important;
                                    width: 30vw !important;
                                }

                                @media screen and (min-width: $xxlarge) {
                                    height: 15vw !important;
                                    width: 15vw !important;
                                }

                            }

                            @media screen and (max-width: 447px) {
                                clear: both;
                                float: none;
                            }


                            h2 {
                                text-align: center;
                                margin: 21px 8px;
                            }
                        }
                    }
                }
            }
        }

        //[END] LYT INT2

        //LYT INT3
        .int3 {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 200px 1fr;
            grid-auto-columns: 1fr;
            grid-auto-rows: 1fr;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
                "grd_line1"
                "grd_line2";
            height: 100%;
            //display: none;

            .grd_line1 {
                display: flex;
                justify-self: center;
                align-items: center;
                grid-area: grd_line1;

                h1 {
                    padding: 0 1em;
                    text-align: center;
                }
            }

            .grd_line2 {
                display: flex;
                grid-area: grd_line2;

                div {
                    margin: 0 auto;

                    div {
                        float: left;

                        div {
                            clear: both;
                            width: 100%;
                            height: auto;

                            svg {
                                margin: 50px 32px 0;
                                cursor: pointer;
                                box-shadow: 0.2rem 0.8rem 1.6rem var(--colorTrans2);
                                height: 23vw !important;
                                width: 23vw !important;
                                border-radius: 50%;
                                -moz-border-radius: 50%;
                                -webkit-border-radius: 50%;

                                @media screen and (min-width: $xlarge) {
                                    height: 30vw !important;
                                    width: 30vw !important;
                                }

                                @media screen and (min-width: $xxlarge) {
                                    height: 15vw !important;
                                    width: 15vw !important;
                                }

                            }

                            @media screen and (max-width: 447px) {
                                clear: both;
                                float: none;
                            }


                            h2 {
                                text-align: center;
                                margin: 21px 8px;
                            }
                        }
                    }
                }
            }
        }

        //[END] LYT INT3

        //LYT SS1
        .ss1 {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 200px auto 1fr auto;
            grid-auto-columns: 1fr;
            grid-auto-rows: 1fr;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
                "grd_line1"
                "grd_line2"
                "grd_line3";
            height: 100%;
            //display: none;

            .grd_line1 {
                display: flex;
                justify-self: center;
                align-items: center;
                grid-area: grd_line1;

                h1 {
                    padding: 0 1em;
                    text-align: center;
                }
            }

            .grd_line2 {
                display: flex;
                justify-self: center;
                align-items: center;
                grid-area: grd_line2;

                h2 {
                    padding: 0 1em;
                    text-align: center;
                }
            }

            .grd_line3 {
                display: flex;
                grid-area: grd_line3;

                div {
                    margin: 0 auto;

                    div {
                        float: left;

                        div {
                            clear: both;
                            width: 100%;
                            height: auto;

                            svg {
                                margin: 50px 32px 0;
                                cursor: pointer;
                                box-shadow: 0.2rem 0.8rem 1.6rem var(--colorTrans2);
                                height: 23vw !important;
                                width: 23vw !important;
                                border-radius: 50%;
                                -moz-border-radius: 50%;
                                -webkit-border-radius: 50%;

                                @media screen and (min-width: $xlarge) {
                                    height: 30vw !important;
                                    width: 30vw !important;
                                }

                                @media screen and (min-width: $xxlarge) {
                                    height: 15vw !important;
                                    width: 15vw !important;
                                }

                            }

                            @media screen and (max-width: 447px) {
                                clear: both;
                                float: none;
                            }
                        }
                    }
                }
            }
        }

        //[END] LYT SS1

        //LYT SS1.1
        .ss1_1 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 100%;
            grid-auto-columns: 1fr;
            grid-auto-rows: 1fr;
            gap: 0px 60px;
            grid-auto-flow: row;
            grid-template-areas:
                "grd_left grd_right";

            .grd_left {
                grid-area: grd_left;

                div {
                    background-color: $cc1;
                    height: 30vw !important;
                    width: 30vw !important;
                    max-width: 500px;
                    max-height: 500px;
                    border-radius: 5px;
                    overflow: hidden;
                    margin: 50px 0;
                    cursor: pointer;
                    float: right;
                    border-radius: 50%;
                    -moz-border-radius: 50%;
                    -webkit-border-radius: 50%;
                    box-shadow: 0.2rem 0.8rem 1.6rem var(--colorTrans2);
                    border: 4px solid #722022;

                    svg {}

                    @media screen and (max-width: 447px) {
                        clear: both;
                        float: none;
                    }
                }
            }

            .grd_right {
                grid-area: grd_right;

                .cont {
                    width: 100%;
                    height: auto;
                    max-width: 600px;
                    padding: 16px;

                    h1 {
                        margin-left: 8px;
                        text-align: left;
                    }

                    .flds {
                        padding: 8px;
                        float: left;

                        &:nth-child(1n) {
                            width: 25%;
                        }

                        &:nth-child(2n) {
                            width: 75%;
                        }
                    }

                    .qsts {
                        padding: 8px;
                        clear: both;

                        h3 {
                            margin: 16px;
                            width: 100%;
                        }
                    }
                }

            }
        }

        //[END] LYT SS1.1

        //LYT SS1.2
        .ss1_2 {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 200px auto 1fr;
            grid-auto-columns: 1fr;
            grid-auto-rows: 1fr;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
                "grd_line1"
                "grd_line2";
            height: 100%;

            .grd_line1 {
                display: flex;
                justify-self: center;
                align-items: center;
                grid-area: grd_line1;

                h1 {
                    padding: 0 1em;
                    text-align: center;
                }
            }

            .grd_line2 {
                display: flex;
                grid-area: grd_line2;

                div {
                    margin: 0 auto;

                    div {
                        float: left;

                        div {
                            clear: both;
                            width: 100%;
                            height: auto;

                            svg {
                                margin: 50px 32px 0;
                                cursor: pointer;
                                box-shadow: 0.2rem 0.8rem 1.6rem var(--colorTrans2);
                                height: 23vw !important;
                                width: 23vw !important;
                                border-radius: 50%;
                                -moz-border-radius: 50%;
                                -webkit-border-radius: 50%;

                                @media screen and (min-width: $xlarge) {
                                    height: 30vw !important;
                                    width: 30vw !important;
                                }

                                @media screen and (min-width: $xxlarge) {
                                    height: 15vw !important;
                                    width: 15vw !important;
                                }

                            }

                            @media screen and (max-width: 447px) {
                                clear: both;
                                float: none;
                            }
                        }
                    }
                }
            }
        }

        //[END] LYT SS1.2

        //LYT SS1.3
        .ss1_3 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 100%;
            grid-auto-columns: 1fr;
            grid-auto-rows: 1fr;
            gap: 0px 60px;
            grid-auto-flow: row;
            grid-template-areas:
                "grd_left grd_right";

            .grd_left {
                grid-area: grd_left;

                div {
                    background-color: $cc1;
                    height: 30vw !important;
                    width: 30vw !important;
                    max-width: 500px;
                    max-height: 500px;
                    border-radius: 5px;
                    overflow: hidden;
                    margin: 50px 0;
                    cursor: pointer;
                    float: right;
                    border-radius: 50%;
                    -moz-border-radius: 50%;
                    -webkit-border-radius: 50%;
                    box-shadow: 0.2rem 0.8rem 1.6rem var(--colorTrans2);
                    border: 4px solid #722022;

                    svg {
                        padding-top: 5vw;
                        width: 314px;
                        height: auto;
                        display: flex;
                        margin: 0 auto;
                    }

                    @media screen and (max-width: 447px) {
                        clear: both;
                        float: none;
                    }
                }
            }

            .grd_right {
                grid-area: grd_right;

                .cont {
                    width: 100%;
                    height: auto;
                    max-width: 600px;
                    padding: 16px;

                    h1 {
                        margin-left: 8px;
                        text-align: left;
                    }

                    .flds {
                        padding: 8px 0 32px;
                    }
                }

            }
        }

        //[END] LYT SS1.3

        //LYT SS1.4
        .ss1_4 {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 200px auto 1fr;
            grid-auto-columns: 1fr;
            grid-auto-rows: 1fr;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
                "grd_line1"
                "grd_line2";
            height: 100%;

            .grd_line1 {
                display: flex;
                justify-self: center;
                align-items: center;
                grid-area: grd_line1;

                h1 {
                    padding: 0 1em;
                    text-align: center;
                }
            }

            .grd_line2 {
                display: flex;
                grid-area: grd_line2;

                div {
                    margin: 0 auto;

                    div {
                        float: left;

                        div {
                            clear: both;
                            width: 100%;
                            height: auto;

                            svg {
                                margin: 50px 32px 20px;
                                cursor: pointer;
                                box-shadow: 0.2rem 0.8rem 1.6rem var(--colorTrans2);
                                height: 23vw !important;
                                width: 23vw !important;
                                border-radius: 50%;
                                -moz-border-radius: 50%;
                                -webkit-border-radius: 50%;

                                @media screen and (min-width: $xlarge) {
                                    height: 30vw !important;
                                    width: 30vw !important;
                                }

                                @media screen and (min-width: $xxlarge) {
                                    height: 15vw !important;
                                    width: 15vw !important;
                                }

                            }

                            @media screen and (max-width: 447px) {
                                clear: both;
                                float: none;
                            }

                            .quantity-input {
                                margin: 21px 8px;
                                background-color: blueviolet;
                            }
                        }
                    }
                }
            }
        }

        //[END] LYT SS1.4

        //LYT SS1.5
        .ss1_5 {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 150px 1fr 50px 1fr;
            grid-auto-columns: 1fr;
            grid-auto-rows: 1fr;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
                "grd_line1"
                "grd_line2"
                "grd_line3"
                "grd_line4";
            height: 100%;

            .grd_line1 {
                display: flex;
                justify-self: center;
                align-items: center;
                grid-area: grd_line1;

                h1 {
                    padding: 0 1em;
                    text-align: center;
                }
            }

            .grd_line2 {
                overflow-y: auto;
                overflow-x: hidden;
                justify-content: center;
                justify-self: center;
                padding: 9vh 1em;
                grid-area: grd_line2;

                div {
                    float: left;
                    margin: 0 8px;
                    min-width: 150px;

                    @media screen and (max-width: $small) {
                        width: 100%;
                        margin-bottom: 12px;
                    }

                    @media screen and (min-width: $medium) {
                        width: 46%;
                        margin-bottom: 12px;
                    }

                    @media screen and (min-width: $xlarge) {
                        width: 20%;
                        margin-bottom: 12px;
                    }
                }

            }

            .grd_line3 {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: nowrap;
                padding: 0 1em;
                padding-top: 32px;
                grid-area: grd_line3;

                h2 {
                    text-align: center;
                }
            }

            .grd_line4 {
                padding: 0 1em;
                justify-content: center;
                justify-self: center;
                padding-top: 32px;
                grid-area: grd_line4;

                .btn_go {

                    @media screen and (max-width: $small) {
                        width: 12rem;
                        margin-bottom: 12px;
                    }

                    @media screen and (min-width: $medium) {
                        width: 12rem;
                        margin-bottom: 12px;
                    }
                }

                @media screen and (max-width: $large) {
                    width: 12rem;
                    margin-bottom: 12px;
                }
            }
        }

        //[END] LYT SS1.5

        //LYT SS1.6
        .ss1_6 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 100%;
            grid-auto-columns: 1fr;
            grid-auto-rows: 1fr;
            gap: 0px 60px;
            grid-auto-flow: row;
            grid-template-areas:
                "grd_left grd_right";
            height: 90%;

            .grd_left {
                grid-area: grd_left;

                .cont {
                    width: 100%;
                    height: auto;
                    padding: calc(1rem + var(--paddingXxlH1));

                    h2 {
                        margin-left: 8px;
                        text-align: left;
                    }
                }
            }

            .grd_right {
                grid-area: grd_right;

                .cont {
                    width: 100%;
                    height: 100%;
                    padding: calc(.1rem + var(--paddingXxlH1));
                    //background-color: blueviolet;

                    .fathers {
                        width: 100%;
                        height: 100%;
                        //background-color: rgb(238, 164, 130);

                        div {
                            z-index: -1 !important;

                            &:nth-child(1n) {
                                z-index: -1;
                                width: calc(2rem + var(--paddingXxlH1));
                                float: left;
                                height: 100%;
                                color: $cc1;
                                //background-color: rgb(238, 155, 155);
                            }

                            &:nth-child(2n) {
                                z-index: -1;
                                width: calc(2rem + var(--paddingXxlH1));
                                color: $cc1;
                                //background-color: rgb(127, 107, 199);
                            }
                        }
                    }

                    .kids_l2 {
                        z-index: 1 !important;
                        width: 100%;
                        height: 50%;
                        margin-top: -11vw;
                        //margin-top: calc(-50vw + var(--paddingCanvas));
                        //background-color: rgb(173, 23, 140);

                        div {

                            &:nth-child(1n) {
                                z-index: 1;
                                width: calc(.5vw + var(--paddingXxlH1));
                                float: left;
                                height: 100%;
                                color: $cc1;
                                margin-left: -40%;
                                //background-color: rgb(42, 126, 165);

                            }

                            &:nth-child(2n) {
                                z-index: 1;
                                width: calc(.5vw + var(--paddingXxlH1));
                                color: $cc1;
                                margin-left: -28%;
                                //background-color: rgb(23, 173, 35);
                            }

                            &:nth-child(3n) {
                                z-index: 1;
                                width: calc(.5vw + var(--paddingXxlH1));
                                color: $cc1;
                                margin-left: -18%;
                                //background-color: rgb(158, 173, 23);
                            }

                            &:nth-child(4n) {
                                z-index: 1;
                                width: calc(.5vw + var(--paddingXxlH1));
                                color: $cc1;
                                margin-left: -8%;
                                //background-color: rgb(118, 23, 173);
                            }

                            &:nth-child(5n) {
                                z-index: 1;
                                width: calc(.5vw + var(--paddingXxlH1));
                                color: $cc1;
                                margin-left: -8%;
                                //background-color: rgb(140, 173, 23);
                            }

                            &:nth-child(6n) {
                                z-index: 1;
                                width: calc(.5vw + var(--paddingXxlH1));
                                color: $cc1;
                                margin-left: -8%;
                                //background-color: rgb(173, 83, 23);
                            }
                        }
                    }
                }
            }

        }

        //[END] LYT SS1.6


        //XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

        //LYT SS2 XXXXXXXXXXXXXXXXXXXXXXXXXXXXX
        .ss2 {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 200px auto 1fr auto;
            grid-auto-columns: 1fr;
            grid-auto-rows: 1fr;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
                "grd_line1"
                "grd_line2"
                "grd_line3";
            height: 100%;
            //display: none;

            .grd_line1 {
                display: flex;
                justify-self: center;
                align-items: center;
                grid-area: grd_line1;

                h1 {
                    padding: 0 1em;
                    text-align: center;
                }
            }

            .grd_line2 {
                display: flex;
                justify-self: center;
                align-items: center;
                grid-area: grd_line2;

                h2 {
                    padding: 0 1em;
                    text-align: center;
                }
            }

            .grd_line3 {
                display: flex;
                grid-area: grd_line3;

                div {
                    margin: 0 auto;

                    div {
                        float: left;

                        div {
                            clear: both;
                            width: 100%;
                            height: auto;

                            svg {
                                margin: 50px 32px 0;
                                cursor: pointer;
                                box-shadow: 0.2rem 0.8rem 1.6rem var(--colorTrans2);
                                height: 23vw !important;
                                width: 23vw !important;
                                border-radius: 50%;
                                -moz-border-radius: 50%;
                                -webkit-border-radius: 50%;

                                @media screen and (min-width: $xlarge) {
                                    height: 30vw !important;
                                    width: 30vw !important;
                                }

                                @media screen and (min-width: $xxlarge) {
                                    height: 15vw !important;
                                    width: 15vw !important;
                                }

                            }

                            @media screen and (max-width: 447px) {
                                clear: both;
                                float: none;
                            }
                        }
                    }
                }
            }
        }

        //[END] LYT SS2
    }

    .grd_bottom_nav {
        grid-area: grd_bottom_nav;

        .btm_nab_one {
            display: grid;
            grid-template-columns: auto 1fr auto;
            grid-template-rows: 100%;
            grid-auto-columns: 1fr;
            grid-auto-rows: 1fr;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
                "grd_btm_left grd_btm_center grd_btm_right";
            height: 100%;
            //display: none;



            .grd_btm_left {
                display: flex;
                justify-self: center;
                align-items: center;
                padding: 0 0 16px 30px;
                grid-area: grd_btm_left;
            }

            .grd_btm_center {
                display: flex;
                justify-self: center;
                align-items: center;
                grid-area: grd_btm_center;
            }

            .grd_btm_right {
                display: flex;
                justify-self: center;
                align-items: center;
                padding: 0 30px 16px 0;
                grid-area: grd_btm_right;
            }

        }
    }
}