.btnLogOut {
    cursor: pointer;

    div {
        float: left;

        &:nth-child(1n) {
            margin-right: 8px;
        }

        &:nth-child(2n) {
            line-height: 48px;
            color: $cc2;
        }
    }

    &:hover {
        div {
            font-weight: 800;
            letter-spacing: 1px;
        }
    }
}